name: Test

on:
  push:
  workflow_dispatch:

jobs:
  fetch-targets:
    runs-on: ubuntu-slim
    if: ${{ github.event_name == 'push' }}
    outputs:
      backend: ${{ steps.get-targets.outputs.backend }}
      frontend: ${{ steps.get-targets.outputs.frontend }}
      complex: ${{ steps.get-targets.outputs.complex }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Get deploy targets
        id: get-targets
        uses: dorny/paths-filter@v3
        with:
          base: ${{ github.ref }}
          filters: ".github/workflows/filterfiles/filter.yaml"

  job-backend:
    if: ${{ github.event == 'workflow_dispatch' || needs.fetch-targets.outputs.backend == 'true' || needs.fetch-targets.outputs.complex == 'true' }}
    runs-on: ubuntu-slim
    needs: fetch-targets
    steps:
      - name: Test
        run: |
          echo "backend: ${{ needs.fetch-targets.outputs.backend }}"
          echo "frontend: ${{ needs.fetch-targets.outputs.frontend }}"
          echo "complex: ${{ needs.fetch-targets.outputs.complex }}"

  job-frontend:
    if: ${{ github.event == 'workflow_dispatch' || needs.fetch-targets.outputs.frontend == 'true' || needs.fetch-targets.outputs.complex == 'true' }}
    runs-on: ubuntu-slim
    needs: fetch-targets
    steps:
      - name: Test
        run: |
          echo "backend: ${{ needs.fetch-targets.outputs.backend }}"
          echo "frontend: ${{ needs.fetch-targets.outputs.frontend }}"
          echo "complex: ${{ needs.fetch-targets.outputs.complex }}"
